@font-face {
    font-family: 'Geogrotesque Compressed';
    src: url('GeogrotesqueComp-Md.eot');
    src: local('Geogrotesque Compressed Medium'), local('GeogrotesqueComp-Md'),
        url('GeogrotesqueComp-Md.eot%3F') format('embedded-opentype'),
        url('GeogrotesqueComp-Md.woff2') format('woff2'),
        url('GeogrotesqueComp-Md.woff') format('woff'),
        url('GeogrotesqueComp-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Compressed';
    src: url('GeogrotesqueComp-Bd.eot');
    src: local('Geogrotesque Compressed Bold'), local('GeogrotesqueComp-Bd'),
        url('GeogrotesqueComp-Bd.eot%3F') format('embedded-opentype'),
        url('GeogrotesqueComp-Bd.woff2') format('woff2'),
        url('GeogrotesqueComp-Bd.woff') format('woff'),
        url('GeogrotesqueComp-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
