.flex {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;    
    display: flex;            
}
.flexc{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;    
    display: flex;   
    justify-content: center;
    align-items: center;
}
.full{
    width: 100%;
    height: 100%;
}
.fit{
    width: fit-content;
    height: fit-content;
}
._boxblank{
    min-width: 100%;
    min-height: 99px;
}
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}
.text__right{
    text-align: right;
}
.red{
    color:red;
}
.hidden{
    display: none;
}
.gold{
    background-color: #d2a622 !important;
}
.blue{
    background-color: #0F8C9D !important;
}
.tomate{
    background-color: #E9645B !important;
}
.ozero{
    cursor: default !important;
    opacity: 0;
}